/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 80%;
    
}

li{
    list-style: none;
}
.app{
    height: calc(100vh - 56px);
}
.left{

    width: 300px;
}

.right{
    background-color: lightgreen;
    width: calc(100% - 150px);
}



