/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 80%;
    
}
:root{
    --my-primary:#f8f9fa;
    --my-dark:#051e34;
    --my-gray:#bbbfc1;
    --my-bell:#fd8f00;
    --my-gray-dark:#5b5858;
    --my-opasity:rgba(0, 0, 0, 0.3);
}
header{
    height: 60px;
}
.logo-mob{
    width: 40px;
}
.my-gray-dark{
    color: var(--my-gray-dark);
}
.app{
    height: calc(100vh - 60px);
}
aside{
    width: 150px;
}

.main{
    width: calc(100% - 150px);
}
.my-opasity{
    background-color: var(--my-opasity);
}
.my-dark{
    background-color: var(--my-dark);
}

.my-icon-input{
    background: url(../img/search.svg) no-repeat scroll 7px 10px var(--my-gray);
    padding-left:30px;
}
.my-bell{
    color: var(--my-bell);
}
.bg-my-primary{
    background-color: var(--my-primary);
}



/* media query */
@media all and ( max-width: 992px){
    aside{
        width: 70px;
    }
    
    .main{
        width: calc(100% - 70px);
    }
}

